@import "tailwindcss";

:root {
  --background: #00aeff;
  --secondary-color: rgb(252, 245, 245);
  --fontFamily: 'Lexend'
}

body {
  background: radial-gradient(circle,rgba(143, 39, 39, 1) 0%, rgba(18, 0, 176, 1) 100%, rgba(76, 30, 230, 1) 51%);
  color: var(--secondary-color);
  font-family: var(--fontFamily);
  font-weight: 500;
}


